/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#splashscreen {
	-fx-background-image: url("cool.gif");
}

#bghanoi {
	-fx-background-image: url("PNight.jpg");
}

#flow1{
	-fx-background-image: url("stone.jpg");
}

#flow2{
	-fx-background-image: url("clay.jpg");
}










